<h3>Usuários</h3>

<p style="color: green"><%= notice %></p>

<div class="row">
  <%= form_tag(users_path, :method => "get") do %>
    <div class="col-md-10">
      <%= text_field_tag(:search, '', class: 'form-control', placeholder: 'Nome ou sobrenome do usuário') %>
    </div>
    <div class="col-md-2">
      <%= button_tag(type: "submit", class: "btn btn-default") do %>
        <i class="fa fa-search"></i> Pesquisar 
      <% end %>    
    </div>
  <% end %>
</div>

<br><br>
<% if @users %>
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
<% else %>
  Nenhum registro encontrado
<% end %>

<div class="text-center">
  <%= will_paginate @users %>
</div>
